<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Info</title>
</head>
<body>
  <div class="navbar">
    <div class="logo">Intellisys IT Solution Pvt Ltd</div>
    <div class="icons">
      <i class="fas fa-bell icon"></i> <!-- Notification icon -->
      <i class="fas fa-user icon"></i> <!-- Login icon -->
    </div>
  </div>
 <!-- Container Below Navbar -->
 <div class="container">
  <div class="employee-details">
    

    <img src="assets/Employee.jpg" alt="Employee Image">
   
    <div class="detail">
      <label>Name:</label>
      
    </div>
    <div class="detail">
      <label>Employee Code:</label>
      
    </div>

   
    <div class="detail">
      <label>Location:</label>
      
    </div>

   
    <div class="detail">
      <label>Attendance Code:</label>
     
    </div>

    
    <div class="detail">
      <label>Branch Name:</label>
      
    </div>

    
    <div class="detail">
      <label>Reporting Manager:</label>
    
    </div>

   
    <div class="detail">
      <label>Designation:</label>
      
    </div>
  </div>
</div>



  <div class="card-container">
   
    <div class="card">
     
        <div class="card-header">PF Applicable</div>
        <div class="card-body4">
        <p class="card-text"><strong>EPF Joining Date:</strong></p>
        <p class="card-text"><strong>PF No:</strong> </p>
        <p class="card-text"><strong>UAN:</strong> </p>
        <p class="card-text"><strong>Prv Member ID:</strong> </p>
      
      </div>
    </div>


    <div class="card">
      <div class="card-header">Pension Applicable</div>
      <div class="card-body">
        
        <p class="card-text"><strong>EPS Joining Date:</strong></p>
        <p class="card-text"><strong>EPS Exit Date:</strong></p>
       
      </div>
    </div>

  
    <div class="card">
      <div class="card-header">Esic Applicable</div>
      <div class="card-body">
  
        <p class="card-text"><strong>ESIC NO:</strong></p>
       
      </div>
    </div>

    <div class="card">
      <div class="card-header">PT Applicable</div>
      <div class="card-body">
        
        <p class="card-text"><strong>EPS NO:</strong> </p>
    
      </div>
    </div>
  </div>


  <div class="container2">
    <p><strong>KYC Detail:</strong> </p>
  </div>



<div class="card-container">
  <!-- Card 1 -->
  <div class="card">
   
      <div class="card-header"></div>
      <div class="card-body">
      <p class="card-text"><strong>PAN Number:</strong></p>
    
    
    </div>
  </div>

  
  <div class="card">
    <div class="card-header"></div>
    <div class="card-body">
      <p class="card-text"><strong>Aadhar Number:</strong></p>
     
    </div>
  </div>
 
 </div>

 <div class="container2">
  <p><strong>Employee Status:</strong> 
</div>

<div class="card-container">
  <!-- Card 1 -->
  <div class="card">
   
      <div class="card-header">Branch:</div>
      <div class="card-body">
      <p class="card-text"><strong></strong></p>
    
    
    </div>
  </div>

<div class="card">
   
  <div class="card-header">Department:</div>
  <div class="card-body">
  <p class="card-text"><strong></strong></p>


</div>
</div>

<div class="card">
   
  <div class="card-header">Grade:</div>
  <div class="card-body">
  <p class="card-text"><strong></strong></p>


</div>
</div>

<div class="card">
   
  <div class="card-header">Designation:</div>
  <div class="card-body">
  <p class="card-text"><strong></strong></p>


</div>
</div>

<div class="card">
   
  <div class="card-header">Employee Categeory:</div>
  <div class="card-body">
  <p class="card-text"><strong></strong></p>
</div>
</div>

<div class="card">
    <div class="card-header">Project Type:</div>
  <div class="card-body">
  <p class="card-text"><strong></strong></p>
</div>
</div>
</div>
</body>
</html>


